/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
/* Desktop */
@media all and (min-width: 1024px) {

}

/* Tablet Landscape */
@media all and (min-width: 768px) and (max-width: 1024px) {

}

/* Tablet Portrait*/
@media all and (min-width: 480px) and (max-width: 768px) {

}

/* Phones */
@media all and (max-width: 480px) {
  .container{
    div.wheel{
      width: 300px;
      height: 300px;
      .segment i{
        font-size: 48px;
      }
    }
  }
}
