@import url('https://fonts.googleapis.com/css?family=Quicksand');

@import 'general';
@import 'mediaqueries';

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .centered{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wheel{
    display: flex;
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    overflow: hidden;
    animation: 20s linear 0s infinite rotate;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);

    .segment{
      display: flex;
      align-items: center;
      justify-content: center;
      --a: calc(var(--over50, 0) * -100%);
      --b: calc((1 + var(--over50, 0)) * 100%);
      --degrees: calc((var(--offset, 0) / 100) * 360);
      position: absolute;
      height: 100%;
      width: 100%;
      transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees) * 1deg));
      transform-origin: 50% 100%;
      clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
      z-index: calc(1 + var(--over50));

      &:before, &:after{
        background: var(--bg, #e74c3c);
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
      }

      &:before{
        font-family: "Font Awesome 5 Pro";
        --degrees: calc( (var(--value, 45) / 100) * 360);
        transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
        transform-origin: 50% 0;
        content: attr(data-label);
      }

      &:after{
        opacity: var(--over50, 0);
      }

      i{
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 49%;
        transform: rotate(-60deg);
        color: white;
        font-size: 58px;
        height: 29%;
      }
    }
  }

}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
